.t{
   
    background-image: url("/robotics/roboticsclubskit.github.io/images/386914924_3141195242843791_413132440796264431_n.jpg");
}

.logo{
    height: 4rem;
    background-image: url('/images/1.png');
}